<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582507719950-jq74imtssedbl9qp9rtqj24d7k93ln9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582507719950-jq74imtssedbl9qp9rtqj24d7k93ln9l</string>
	<key>API_KEY</key>
	<string>AIzaSyDqYP1mugTnd7SPy4t6Zy-yc-pAydeCqws</string>
	<key>GCM_SENDER_ID</key>
	<string>582507719950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ie.mosaic.roadrunner.restaurant</string>
	<key>PROJECT_ID</key>
	<string>roadrunner-1569512479459</string>
	<key>STORAGE_BUCKET</key>
	<string>roadrunner-1569512479459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582507719950:ios:5fc42d0d917f195c48fb5f</string>
	<key>DATABASE_URL</key>
	<string>https://roadrunner-1569512479459.firebaseio.com</string>
</dict>
</plist>